@import "../../app/breakpoints/breakpoints.scss";
@import "../../app/styles/variable";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1{
    font-weight: 700;

    @include media("<=Lphone"){
      font-weight: 500;
      font-size: 16px;
      text-align: center;
    }
  }
}

.mainContent {
  background-color: $white;
  min-height: 70vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 5px 50px 10px $shadow;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .filters {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
    }
  }
}

.primary-btn {
  border: 1px solid $white;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  background-color: $gray1;
  color: $white1;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $white;
    border: 1px solid $gray1;
    color: $gray1;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray7;
  }
}
