@import "../../../app/breakpoints/breakpoints.scss";
@import "../../../app/styles/variable";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; // Equivalent to Tailwind: gap-1
  outline: none;
}

.readOnlyMode {
  max-width: 300px;
  width: 300px;
  height: 40px;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border: 1px solid transparent !important;
  background-color: transparent !important;
  outline: none !important;
}

.input {
  max-width: 300px;
  width: 300px;
  height: 40px;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border: 1px solid $secondary !important;
  box-shadow: 1px 4px 10px $shadow;
  outline: none !important;



  &:hover {
    border: 1px solid $primary !important;
  }

  @include media ("<=Lphone") {
    width: 250px;
  }

  &.error {
    border: 1px solid $primary; // Error state styling
  }
}

.errorText {
  color: $primaryOrange;
  font-size: 0.875rem; // Tailwind: text-sm
}
