@import "../../../app/breakpoints/breakpoints.scss";
@import "../../../app/styles/variable";

.table {
  // border: 1px solid $gray8;
}

.tableHeader {
  background-color: $gray7; 
  color: $gray1;
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $gray5;
  }
}

.loadingRow {
  .loadingSkeleton {
    background-color: $white2;
    height: 1.5rem;
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}
